@model List<CV.Models.Entity.Educations>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br />
<h2>Eğitim Listesi</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Başlık</th>
        <th>Fakülte</th>
        <th>Bölüm</th>
        <th>GNO</th>
        <th>Tarih</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Title</td>
            <td>@item.SubTitle1</td>
            <td>@item.SubTitle2</td>
            <td>@item.GNO</td>
            <td>@item.Date</td>
            <td><a href="/Education/DeleteEducation/@item.ID" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Education/UpdateEducation/@item.ID" class="btn btn-outline-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Education/AddEducation/" class="btn btn-outline-primary">Yeni Eğitim Ekle</a>
