@model CV.Models.Entity.Educations
@{
    ViewBag.Title = "UpdateEducation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>UpdateEducation</h2>

<div class="container">
    <form method="post">
        @Html.Label("Deneyim ID")
        @Html.TextBoxFor(x => x.ID, new { @class = "form-control", @disabled = "disabled" })
        <br />
        @Html.Label("Başlık")
        @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Title, "", new { style = "color:red" })
        <br />
        @Html.Label("Alt Başlık1")
        @Html.TextBoxFor(x => x.SubTitle1, new { @class = "form-control" })
        <br />
        @Html.Label("Alt Başlık2")
        @Html.TextBoxFor(x => x.SubTitle2, new { @class = "form-control" })
        <br />
        @Html.Label("Tarih")
        @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
        <br />
        @Html.Label("GNO")
        @Html.TextBoxFor(x => x.GNO, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.GNO, "", new { style = "color:blue" })
        <br />
        <button class="btn btn-info">Güncelle</button>
    </form>
</div>