@model List<CV.Models.Entity.Skills>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{string renk="";}
@{string LabelRenk="";}
<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <br />
    <div class="wrapper">
        <!-- Navbar -->
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Yetenek Listem</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <a href="/Skill/AddSkill/"class="btn btn-outline-primary">Yeni Yetenek Ekle</a>
                                <br />
                                <br />
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px">#</th>
                                            <th>Yetenek</th>
                                            <th>Derece</th>
                                            <th style="width: 40px">Oran</th>
                                            <th>Sil</th>
                                            <th>Güncelle</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            if(item.Progress >= 0 && item.Progress <= 50)
                                            {
                                                renk = "progress-bar bg-danger";
                                                LabelRenk = "badge bg-danger";
                                            }
                                            if (item.Progress >= 51 && item.Progress <= 70)
                                            {
                                                renk = "progress-bar bg-warning";
                                                LabelRenk = "badge bg-warning";
                                            }
                                            if (item.Progress >= 71 && item.Progress <= 84)
                                            {
                                                renk = "progress-bar bg-primary";
                                                LabelRenk = "badge bg-primary";
                                            }
                                            if (item.Progress >= 85 && item.Progress <= 100)
                                            {
                                                renk = "progress-bar bg-success";
                                                LabelRenk = "badge bg-success";
                                            }
                                            <tr>
                                                <td>@item.ID</td>
                                                <td>@item.Skill</td>
                                                <td>
                                                    <div class="progress progress-xs">
                                                        <div class="@renk" style="width: @item.Progress%"></div>
                                                    </div>
                                                </td>
                                                <td><span class="@LabelRenk">@item.Progress%</span></td>
                                                <td><a href="/Skill/DeleteSkill/@item.ID" class="btn btn-outline-danger">Sil</a></td>
                                                <td ><a href="/Skill/UpdateSkill/@item.ID" class="btn btn-outline-success">Güncelle</a></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
</body>
</html>