@model List<CV.Models.Entity.Abouts>
@{
    Layout = null;
}

<!-- About-->
@foreach (var item in Model)
{
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                @item.Name
                <span class="text-primary">@item.Surname</span>
            </h1>
            <div class="subheading mb-5">
                @item.Address · @item.Telefon ·
                <a href="mailto:name@email.com">@item.Mail</a>
            </div>
            <p class="lead mb-5">@item.Description</p>
            @Html.Action("SocialMedia")
        </div>
    </section>
}
<hr class="m-0" />