@model List<CV.Models.Entity.Educations>
@{
    Layout = null;
}

<!-- Education-->
<section class="resume-section" id="education">
    <div class="resume-section-content">
        <h2 class="mb-5">Eğitim Hayatım</h2>
        @foreach (var item in Model)
        {
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">@item.Title</h3>
                    <div class="subheading mb-3">@item.SubTitle1</div>
                    <div>@item.SubTitle2</div>
                    <p>@item.GNO</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">@item.Date</span></div>
            </div>
        }
    </div>
</section>
<hr class="m-0" />